/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  font-family: bangers;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 10px 0;
}

h2 {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 1.5rem;
}
img {
  height: 100px;
  padding: 2px;
  border-radius: 5px;
}

.cute {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.big {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.insects {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.box {
  text-align: center;
  background: lightgrey;
  margin: 10px;
  padding: 10px;
  border: dashed grey 2px;
}
