/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Corrupted CSS below */
/* ------------------- */
body {
  background: #ececec;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  max-width: 600px;
  margin: 25px 0px 25px 100px;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Bangers', cursive;
}

.h2 {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.title {
  font-size: 48px;
}

.content {
  text-align: left;
  background: #ffffff;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-top: 20px;
  margin-top: 25px;
  border:5px;
  border-style: solid;
  border-color: black;
}

ul {
  margin-top: 15px;
  padding-left: 20px;
}

.element {
  list-style-type: square;
}

.first {
  color: #000000;
}

.second {
  font-weight: bold;
}
