/* minor CSS reset */
/* You should not need to change anything here */
html,
body{
  background: white;
}
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  text-align: center;
}

h1,
h2 {
  font-family: 'Bangers';
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
  padding-top: 18px;
}

.row {
  margin-top: 20px;
}

.col {
  display: inline-block;
  background-color: rgb(240,240,240);
  border: 2px dashed rgb(128,128,128);
  height: 230px;
  width: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.image {
  width: auto;
  height: 150px;
  object-fit: contain;
  margin: 18px;
}
