/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  display: inline-block;
}

h1,
h2 {
  font-family: 'bangers', cursive;
  text-align: center;
}

h1 {
  font-size: 28px;
}

h2 {
  padding-bottom: 10px;
}

.row {
  
}

.col {
  display: inline-block;
  align-items: center;
  border: dashed 1px;
  background-color: lightgray;
  padding: 10px;
  margin: 25px;
}

.image {
  height: 100px;
}
