.title{
    text-align: center;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: normal;
}

.subtitle{
    text-align: center;
    margin-top: 0;
}

.content{
    font-family: "Comic Sans MS";
    font-size: 12px;
}

.emph{
    font-style: italic;
}