.centered {
  text-align: center;
}

h1.centered {
  font-size: 3rem;
}

p.centered {
  font-size: 1.5rem;
}

h2, li {
  font-size: 1rem;
}

li {
  list-style: none;
}

.monospaced {
  font-family: monospace;
  text-decoration: underline;
  background: grey;
  text-align: left;
}

h1,
p,
h2 {
  background: grey;
  margin: 0;
}