.centered {
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
}

/* .title {
  font-size: 3rem;
  text-align: center;
} */

p.centered {
  text-align: center;
  font-size: 1.5rem;
}

/* .subtitle {
  font-size: 1rem;
  text-align: center;
} */

.div {
  background-color: gray;
}

li {
  list-style-type: none;
  font-family: monospace;
  font-size: 12px;
}

#content {
  text-decoration: underline;
  background: grey;
}

.monospaced {
  font-family: monospace;
  font-size: 10px;
}

h1,
p,
h2 {
  background: grey;
  margin: 0;
}
