body {
  padding: 40px;
}

button {
  /* Solve me */
  background: blue;
  color: white; 
  padding: 1em 2em;
  border-radius: 10px;
}

button:active {
  transform: scale(0.8);
  transition: ease 0.5s;
}

button:focus {
  outline: none;
  background-color: darkblue

}
