body {
  padding: 40px;
}

button {
  background-color: blue;
  color: white;
  padding: 20px 30px;
  border: 0;
  border-radius: 10px;
}

button:active {
  background-color: darkblue;
  transition: 1s;
  transform: scale(50%);
}

button:focus {
  outline: none;
}
