p { 
    /* padding: none;
    margin: none; */
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.one {
    background-color: pink;
    /* border: 10px;
    border-color: black; */
}

.two {
    background-color: fuchsia;
}

.three {
    font-size: 5em;
}
