img {
  max-width: 300px;
}

.img1 {
  position:absolute;
  z-index: 1;
}

.img2 {
position:absolute;
z-index: 0;
left:0px;
top:0px;

}

.img3 {
  position:fixed;
  left: 50%;
  top: 50%;
}

.img4 {
  position:absolute;
  right:0px;
  bottom:0px;

}

body
{ 
  max-width:1080px;
}